@font-face {
  font-family: 'comicoro';
  src: url('res/fonts/comicoro-webfont.woff2') format('woff2'),
  url('res/fonts/comicoro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'comicoro', sans-serif;
}

.pixel_perfect {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Universal support since 2021   */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

html {
  font-size: clamp(18px, 1.5vw, 48px);
}

h1 {
  font-family: 'Cherry Bomb One', sans-serif;
  letter-spacing: 0.1rem;
  font-size: clamp(24px, 3vw, 48px);

  text-transform: uppercase;

  margin: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--yellow);
}

body {
  background-color: #3671E9;
  color: var(--white);
  
  margin: 0;

  overflow-x: hidden;
}

.bg-grid {
  background-image: linear-gradient(180deg, #3671E900 0%, #3671E9FF 90%), url("res/bg/grid.svg");

  width: 100%;
  height: 1000px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

header {
  width: 80%;
  height: 5vh;
  margin: 1% 10% 0 10%;
  
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.content {
  width: 90%;
  margin: 0 5%;

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.hero {
  width: 100%;
  height: 90vh;

  position: relative;
}

.bg-doodles {
  width: 100%;
  position: absolute;

  top: 5vh;
}

.bottom {
  position: absolute;
  width: 100%;

  bottom: 2.5vh;
  left: 0;
}

.bg-peeps {
  width: 110%;
  position: relative;

  left: -5%;
}

.logo {
  --_width: calc(max(25vw, 25vh));

  width: var(--_width);
  position: absolute;
  top: 15%;
  left: calc(50% - var(--_width) / 2);
}

.link-wishlist {
  text-decoration: none;
  text-transform: uppercase;

  width: clamp(240px, 30vw, 480px);
  padding: 10px;
  border: var(--white) 2px solid;
  border-radius: 40px;

  background-color: #131313D0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

  transition: 100ms;
}

.link-wishlist * {
  fill: var(--white);
}

.link-wishlist:hover {
  cursor: pointer;
  background-color: #131313A0;
  gap: 0.5em;

  text-decoration: none;
}

.link-wishlist:active {
  background-color: #131313F0;
  border-color: var(--yellow);

  transition: 10ms;
}

.link-wishlist:active * {
  color: var(--yellow);
  fill: var(--yellow);
}

.btn-wishlist-hero {
  width: fit-content;
  
  position: absolute;
  left: 50%;
  top: 35%;
}

.btn-wishlist-hero > .link-wishlist {
  position: relative;
  left: -50%;
}